@media screen and (max-width: 1500px) {
  .arrowDownA {
    margin-right: auto !important;
  }

  .headphonesParent {
    flex-wrap: wrap;
  }
  .accImages {
    width: 590px !important;
    height: 330px !important;
  }
}

@media screen and (max-width: 1300px) {
  .headphoneCards3 {
    display: none;
  }

  .trendsParent {
    flex-wrap: wrap !important;
  }

  .footerContent {
    flex-wrap: wrap !important;
    gap: 20px !important;
  }
  .countryInfo {
    display: none !important;
  }
  .subParent {
    display: none !important;
  }
  #subH4 {
    display: none !important;
  }
  #logoFooter {
    margin-top: 0px !important;
  }
}
@media screen and (max-width: 1270px) {
  #timerImg {
    height: 450px !important;
  }
  .badge {
    width: 140px !important;
    font-size: 34px !important;
    height: 140px !important;
  }
  .accImages {
    width: 500px !important;
    height: 278px !important;
  }
}

@media screen and (max-width: 1200px) {
  .adContent span {
    font-size: 24px !important;
  }
  .adContent {
    flex-wrap: wrap !important;
  }
}

@media screen and (max-width: 1100px) {
  .loginBtn {
    display: none;
  }

  .navigation {
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    gap: 40px !important;
  }

  .mode {
    margin-left: 35px !important;
  }

  .navIcons {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .offerParent {
    flex-wrap: wrap;
  }
  .accImages {
    width: 400px !important;
    height: 222px !important;
  }
  .footerContent {
    justify-content: space-between !important;
  }
}
@media screen and (max-width: 1000px) {
  .title3 {
    display: none !important;
  }
  .title2 {
    display: block !important;
  }
  #timerParent {
    padding-top: 45px !important;
  }
  .offerParent {
    padding-top: 52px !important;
  }
  .arrivalCard:nth-child(3) {
    display: none !important;
  }
}

@media screen and (max-width: 900px) {
  .headphoneCards2 {
    display: none;
  }
  .adContent {
    gap: 15px !important;
  }

  .adParent h1 {
    font-size: 35px !important;
  }
  .accParent {
    flex-wrap: wrap !important;
  }
  .accParent2 {
    flex-wrap: wrap !important;
  }
  .accImages {
    height: 90% !important;
    width: 90% !important;
  }
  .title4 {
    line-height: 60px !important;
  }
  .accParent {
    gap: 15px !important;
  }
  .accParent2 {
    gap: 15px !important;
    margin-top: 15px !important;
  }
  .accImages {
    height: 100% !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 800px) {
  .menuIcon {
    font-size: 24px !important;
    display: block !important;
  }

  .menuLink {
    display: none !important;
  }
  .mode {
    margin-left: auto !important;
    margin-right: 40px !important;
  }

  .logoImg {
    margin-right: auto;
    margin-left: auto;
  }

  .topParagraph {
    color: #fff0f0 !important;
    font-size: 24px !important;
  }

  .mainContent h1 {
    font-size: 75px !important;
    line-height: 85px !important;
  }

  .topBtn1 {
    width: 160px !important;
    height: 40px !important;
    font-size: 17px !important;
  }

  .topBtn2 {
    width: 160px !important;
    height: 46px !important;
    font-size: 17px !important;
    margin-left: 34px !important;
  }

  .trends__container {
    padding-top: 64px !important;
  }
  .trendsCard:nth-child(3) {
    display: none !important;
  }
}

@media screen and (max-width: 550px) {
  .adParent {
    height: 484px !important;
    width: 285px;
    margin: 0 auto;
    margin-top: 50px !important;
  }

  .adContent {
    flex-direction: column !important;
    gap: 74px !important;
    margin: 0 auto !important;
    padding-top: 19px !important;
  }

  .adContent span {
    line-height: 30px !important;
    font-size: 24px !important;
  }

  .adContent div {
    display: flex !important;
    align-items: center !important;
    text-align: start !important;
    gap: 10px !important;
    justify-content: flex-start !important;
    max-width: 200px !important;
  }
  .adParent h1 {
    margin: 0 auto;
    max-width: 190px !important;
    min-height: 58px !important;
    font-size: 24px !important;
    line-height: 30px !important;
  }

  .adContent i {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 500px) {
  .logoImg img {
    height: 100px !important;
    width: 100px !important;
  }

  .glassIcon {
    display: none;
  }

  .navIcons {
    gap: 0px !important;
  }

  .headphonesParent {
    flex-wrap: wrap-reverse !important;
    justify-content: center !important;
  }

  .arrowDownA {
    margin-right: 0 !important;
  }

  .title {
    font-size: 54px !important;
  }
  #timerImg {
    height: 367px !important;
  }
  .badge {
    width: 125px !important;
    font-size: 26px !important;
    height: 125px !important;
  }
}

@media screen and (max-width: 600px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
    padding-top: 29px !important;
    padding-left: 40px;
  }

  .footerContent > div:first-child {
    order: 10;
    margin-top: 30px;
    margin-bottom: 20px;
    margin: 0 auto;
  }

  .footerContent ul {
    padding: 0;
    margin-bottom: 30px;
    width: 100%;
    text-align: start;
  }

  .mainLi {
    font-size: 24px !important;
  }

  .footerContent li {
    font-size: 17px;
    margin-top: 10px;
  }

  .cont {
    margin-top: 20px;
  }

  .footerIcons {
    justify-content: start !important;
    margin-top: 10px;
  }

  .subParent {
    display: none !important;
  }

  .countryInfo {
    display: none;
  }
  .topBtn2 {
    width: 150px;
    height: 40px;
    font-size: 16px;
  }

  #subH4 {
    display: none !important;
  }

  #privacyPolicy {
    text-align: center !important;
    font-weight: 700;
    font-size: 21px !important;
    line-height: 46px !important;
    padding-top: 16px !important;
  }
  #logoFooter {
    width: 193px !important;
    height: 172px !important;
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 470px) {
  .mainContent h1 {
    font-size: 60px !important;
  }

  .topParagraph {
    max-width: 500px !important;
  }

  .topBtn2 {
    margin-left: 10px !important;
  }

  .imagePerson {
    display: none;
  }

  .mainContent {
    margin-top: 150px !important;
  }
  .headphonesParent {
    bottom: 19px !important;
  }

  .topBtn1:nth-child(2) {
    font-size: 12px !important;
    width: 99px !important;
    height: 33px !important;
  }

  .popularBtn2 {
    font-size: 10px !important;
    width: 99px !important;
    height: 33px !important;
  }

  .buttonsTrendsParent {
    gap: 17px !important;
  }

  .currentPrice2 {
    font-size: 20px !important;
  }

  .trendsCard h4 {
    line-height: 20px !important;
    font-size: 16px !important;
  }

  .cardList li {
    font-size: 12px !important;
  }

  .trendsCard {
    margin-top: 60px !important;
    height: 652px !important;
    width: 350px !important;
  }

  .title {
    font-size: 46px !important;
  }
  .timerNames span {
    font-size: 32px !important;
  }
  #timerImg {
    width: 100% !important;
  }
  .badge {
    width: 100px !important;
    font-size: 26px !important;
    height: 100px !important;
  }
  .timerNums span {
    font-size: 46px !important;
  }
  .accImages {
    border: 2px solid white;
    border-radius: 25px;
  }
  .title4 {
    line-height: 100% !important;
    font-size: 35px !important;
  }

  /* footer */
}

@media screen and (max-width: 380px) {
  .mainContent h1 {
    font-size: 50px !important;
  }

  .topBtn1 {
    width: 126px !important;
    font-size: 14px !important;
  }

  .topBtn2 {
    width: 126px !important;
    font-size: 14px !important;
  }
  .fa-cart-shopping {
    display: none !important;
  }

  .descriptionHeadphonesImage {
    bottom: 70px !important;
  }

  .descriptionHeadphones {
    width: 250px !important;
    height: 129px !important;
  }
  .typeOfHeadphones {
    font-size: 16px !important;
  }
  .currentPrice {
    font-size: 16px !important;
  }
  .descriptionHeadphonesImage {
    height: 132px;
    left: 70px !important;
    width: 107px;
  }
  .title {
    font-size: 39px !important;
  }
}

@media screen and (max-width: 360px) {
  .headphonesParent {
    bottom: 19px !important;
  }
  .badge {
    margin-top: 25px !important;
  }
}

/* height responsive */

@media screen and (max-height: 800px) {
  .mainContent {
    margin-top: 100px !important;
  }

  .topOfTheMain {
    min-height: 800px !important;
  }
}
