@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #000;
}
a {
  text-decoration: none;
  color: white;
}
[class*="__container"] {
  margin: 0 auto;
  max-width: 1728px;
  overflow: hidden;
  padding: 10px 20px;
}

/* header */

.headerNav {
  position: fixed;
  width: 100%;
  color: #ffffff;
}
.navigation {
  display: flex;
  gap: 50px;
  margin-left: auto;
  margin-right: 88px;
}
.navigation li {
  list-style: none;
}
.navigation a {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 4%;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.navIcons {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navIcons a {
  font-size: 24px;
}
.navIcons li {
  list-style: none;
}
.loginBtn {
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 4%;
  color: #f14a16;
  font-size: 20px;
  border-radius: 15px;
  border: 1px solid #f14a16;
  width: 127px;
  height: 52px;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}
.mode {
  margin-left: 94px;
  transition: 0.3s;
}

.mode:hover {
  transform: rotate(90deg);
}

/* top of the main */

.musicspan {
  color: #f14a16;
}
.topOfTheMain {
  display: flex;
  width: 100%;
  height: 97vh;
}
.imagePerson{
  margin-left: auto;
}
.mainContent {
  margin-top: 297px;
  margin-right: auto;
  position: absolute;
}
.mainContent h1 {
  font-weight: 700;
  font-size: 85px;
  max-width: 544px;
  font-size: 85px;
  line-height: 100px;
  color: white;
}
.topParagraph {
  color: #a4a4a4;
  text-align: start;
  font-size: 32px;
  font-weight: 250;
  line-height: 40px;
  padding-top: 30px;
  max-width: 727px;
}
.topButtons {
  padding-top: 58px;
}
.topBtn1{
  background-color: #f14a16;
  color: #E5E5E5;
  font-weight: 700;
  font-size: 24px;
  border: none;
  height: 64px;
  width: 223px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 21px 0px #F14A16;
}
.topBtn2{
  margin-left: 27px;
  height: 64px;
  width: 223px;
  background-color: transparent;
  border: none;
  color: #F14A16;
  font-size: 24px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
  border: 3px solid #F14A16;
  box-shadow: 0px 0px 18px 0px #F14A16;
}

.topBtn2 i {
  margin-right: 10px;
}
