@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #000;
  transition: 0.3s ease-in-out;
}
a {
  text-decoration: none;
  color: white;
}
[class*="__container"] {
  margin: 0 auto;
  max-width: 1728px;
  overflow: hidden;
  padding: 10px 20px;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: #f14a16;
  border-radius: 10px;
}

/* dark and light mode */

:root {
  --text-color: rgb(255, 255, 255);
}

.lightMode{
  --text-color: black;
}

.dark-mode {
  --text-color: white;
}

.bodycolor {
  background-color: #fafafa;
}



/* mobile nav */

.menuIcon {
  display: none;
}

/* header */

.headerNav {
  position: fixed;
  z-index: 2;
  width: 100%;
  color: #ffffff;
  height: 130px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}
.navigation {
  display: flex;
  gap: 50px;
  margin-left: auto;
  margin-right: 88px;
}
.navigation li {
  list-style: none;
}
.navigation a {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 4%;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.navIcons {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navIcons a {
  font-size: 24px;
}
.navIcons li {
  list-style: none;
}
.loginBtn {
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 4%;
  color: #f14a16;
  font-size: 20px;
  border-radius: 15px;
  border: 1px solid #f14a16;
  width: 127px;
  height: 52px;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}
.mode {
  margin-left: 94px;
  transition: 0.3s;
}
.mode:hover {
  transform: rotate(90deg);
}

/* top of the main */

.musicspan {
  color: #f14a16;
}
.topOfTheMain {
  display: flex;
  width: 100%;
  height: 100vh;
}
.imagePerson {
  margin-left: auto;
}
.mainContent {
  margin-top: 250px;
  margin-right: auto;
  position: absolute;
}
.mainContent h1 {
  font-weight: 700;
  font-size: 85px;
  max-width: 544px;
  font-size: 85px;
  line-height: 100px;
  color: var(--text-color); 
}
.topParagraph {
  color: #a4a4a4;
  text-align: start;
  font-size: 32px;
  font-weight: 250;
  line-height: 40px;
  padding-top: 30px;
  max-width: 727px;
}
.topButtons {
  padding-top: 58px;
}
.topBtn1 {
  background-color: #f14a16;
  color: #e5e5e5;
  font-weight: 700;
  font-size: 24px;
  border: none;
  height: 64px;
  width: 223px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 0px 21px 0px #f14a16;
  border: 3px solid #f1491600;
}
.topBtn1:hover {
  border: 3px solid #f14a16;
  background-color: #070606;
}
.topBtn2 {
  margin-left: 27px;
  height: 64px;
  width: 223px;
  background-color: transparent;
  border: none;
  color: #f14a16;
  font-size: 24px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
  border: 3px solid #f14a16;
  box-shadow: 0px 0px 18px 0px #f14a16;
  transition: 0.5s ease-in-out;
}
.topBtn2:hover {
  background-color: #f1491600;
  border: 3px solid #000000;
  color: white;
}
.topBtn2 i {
  margin-right: 10px;
}
.headphonesParent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;
  bottom: 50px;
}

.fa-arrow-down {
  color: white;
  font-size: 25px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 20px;
  position: absolute;
  left: 12%;
  transform: translateY(-50%);
}
.descriptionHeadphones {
  background: linear-gradient(
    116.15deg,
    rgba(192, 192, 192, 0.63) -10.88%,
    rgba(255, 255, 255, 0.49) -10.87%,
    rgba(255, 255, 255, 0.07) 74.79%
  );
  width: 350px;
  height: 180px;
  border-radius: 25px;
  border: 1px solid #ffffffb2;
  backdrop-filter: blur(30px);
  cursor: pointer;
  transition: 0.5s;
}

.descriptionHeadphonesImage {
  position: absolute;
  bottom: 96px;
  left: 100px;
  right: 0;
  transition: transform 0.5s ease;
}
.descriptionHeadphones:hover .descriptionHeadphonesImage {
  transform: translateY(-20px);
}
.typeOfHeadphones {
  margin-top: auto;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}
.descHeadContent {
  position: absolute;
  left: 15px;
  bottom: 0;
}
.currentPrice {
  color: #fc9918;
  font-weight: 400;
  font-size: 23px;
  line-height: 40px;
}
.previousPrice {
  text-decoration: line-through;
  color: white;
  font-size: 18px;
  line-height: 40px;
  padding-left: 17px;
}

/* popular trends section */

.title {
  color: var(--text-color);
  font-weight: 700;
  line-height: 40px;
  font-size: 64px;
  text-align: center;
}
.trends__container {
  padding-top: 117px;
}
.trendsParent {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.trendsCard {
  margin-top: 103px;
  overflow: hidden;
  height: 696px;
  width: 376px;
  border-radius: 50px;
  border: 1px solid white;
  color: #ffffff;
  background: linear-gradient(
    163.76deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.1) 100.82%
  );
}
.trendsCard img {
  width: 100%;
  height: 331px;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.3s;
}
.trendsParentContent {
  padding-left: 22px;
  padding-top: 17px;
}
.trendsCard h4 {
  text-align: start;
  max-width: 329px;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 2%;
}
.cardList {
  margin-top: 8px;
  text-align: start;
  padding-left: 28px;
}
.cardList li {
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
}
.currentPrice2 {
  color: #fc9918;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  display: block;
  margin-top: 14px;
}
.buttonsTrendsParent {
  display: flex;
  align-items: center;
  padding-top: 10px;
  gap: 26px;
}
.popularBtn2 {
  color: #f14a16;
  border-radius: 20px;
  border: 3px solid #f14a16;
  width: 150px;
  height: 50px;
  background-color: transparent;
  box-shadow: 0px 0px 18px 0px #f14a16;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  transition: 0.5s ease-in-out;
}
.popularBtn2:hover {
  background-color: #f1491600;
  border: 3px solid #945c5c00;
  color: white;
}
.popularBtn2 i {
  margin-right: 4px;
}
.topBtn1:nth-child(2) {
  width: 150px;
  font-size: 20px;
  height: 50px;
}

/* ad Section */

.adParent {
  background: linear-gradient(91.42deg, #370665 0%, #35589a 100%);
  height: 232px;
  border-radius: 25px;
  color: #ffffff;
  margin-top: 147px;
}
.adParent h1 {
  font-weight: 700;
  text-align: center;
  font-size: 45px;
  line-height: 100%;
  padding-top: 30px;
}
.adContent {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin-top: 50px;
}
.adContent span {
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 24px;
}
.fa-circle-check {
  font-size: 36px;
}
.fa-circle-info {
  font-size: 36px;
}
.fa-truck {
  font-size: 36px;
}
